@charset "utf-8";
/* CSS Document */
body { font-size:12px; color:#262626; font-family:'Microsoft Yahei', Tahoma, Arial;background:#ecf3f6  url(../images/bg-sand-red.png) repeat-x top; margin:0; padding:0}
