@charset "utf-8";
/* CSS Document */
body { font-size:12px; color:#262626; font-family:'Microsoft Yahei', Tahoma, Arial;background:#EEEEEE  url(../images/bg-sky.png) repeat-x top; margin:0; padding:0}
