.spliter_leftbutton
{
	background-image:url(../images/frame_left.gif);
}

.spliter_rightbutton
{
	background-image :url(../images/frame_right.gif);
}

.spliter_TreeTable
{
	width : 100%;
	height : 100%;
	border : 0px;
}
.spliter_tdresizebutton
{
	background-image:url(../images/frame_bg.gif);
	height:500px
}
