@charset "utf-8";
/* CSS Document */
body {
    font-size:12px;
    /* color:#737478;*/
	color: #222222;
    font-family:'Microsoft Yahei', Tahoma, Arial;
    background:#d5d8e9 url(../images/bg.png) repeat-x top;
    margin:0;
    padding:0;
}

input[type="button"] {
    border: 1px solid #025098;
    border-radius: 2px;
    color: #4d4d4d;
    height: 25px;
    cursor: pointer;
    min-width: 80px;
}

input[type="button"]:hover {
    border: 1px solid #025098;
    background-color: #025098;
    border-radius: 2px;
    color: #ffffff;
}

.headTitle {
    width: 100%;
    /*min-width: 1150px;*/
    height: 120px;
    vertical-align: middle;
    background-color: #025098;
    margin:0 auto 20px auto;
    font-size:14px;
    color:#ffffff;
}
.headTitle tr:nth-child(2){
    /*position: relative;top: -30px;*/
}

.headTitle img {
    vertical-align: middle;
}

.headTitle a:link,.headTitle a:visited{ color:#e3e3e3; text-decoration:underline;}
.headTitle a:hover{color:#ffffff; text-decoration:underline;}
.headTitle a.on:link,.headTitle a.on:visited,.headTitle a.on:hover{color:#ffffff;font-weight:bold; text-decoration:none;}


.main{ width:1000px; margin:0 auto;}

.helpzone{ margin:10px 0; line-height:22px; color: #4d4d4d;}
.helpzone img{ margin-right: 5px;}

.utable{ border-collapse:collapse; border-spacing:0; border:1px solid #0558a6; margin-top: 20px;}
.utable td{padding-top: 5px; padding-bottom: 5px; padding-left:10px; padding-right:25px; border:1px solid #0558a6;vertical-align:middle;color:#3f424b;line-height:27px;}
.t_item{ width:180px; background:#e2e5f6; text-align:right; padding-right: 25px;}

.inputlong{
    width:500px;
    border: 1px solid #8c9fae;
    color: #4d4d4d;
}

.btn_zone{
    margin:20px 0;
    text-align: right;
}

.search {
    color: #025098;
    margin-bottom: 40px;
}
.search select{
    max-width: 200px;
}

.mytable,.alert_table{
    border-collapse:collapse;
    border-spacing:0;
    border-bottom:2px solid #015198;
    clear: both;
}

.mytable tr,.alert_table tr{
    color: #222222;
}

.mytable tr:hover,.alert_table tr:hover{
    color: #ffffff;
    background-color: #015198;
}

.mytable th,.alert_table th{
    border-top:3px solid #015198;
    border-bottom:1px solid #015198;
    height:28px;
    line-height:28px;
    padding:0 5px;
    font-weight:bold;
    text-align:left;
}

.mytable td,.alert_table td{
    padding:5px 5px;
    border:0;
    vertical-align:middle;
    line-height:22px;
}

.mytable td input[type="button"],.alert_table td input[type="button"]{
    /*background-color: #8a8a8a;*/
	background-color: #5eb68c;
    height: 20px;
    border: 0;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
}

.mytable td input[type="button"]:hover,.alert_table td input[type="button"]:hover{
    background-color: #5eb68c;
}
.calendar{ background:#FFFFFF url(../images/iconDate.gif) center right no-repeat; cursor:pointer;}
.page{ text-align:right; margin:20px 0;}
.page span{color:#ef0017;}
.page a:link,.page a:visited{height:20px;text-decoration:none;color:#737478;padding:5px;}
.page a:hover{height:20px;text-decoration:none;color:#737478;padding:5px;}

.searcha{ margin:10px;}
#form1 tr:hover{background-color: rgba(0,0,0,0);};