@charset "utf-8";
/* CSS Document */
body { font-size:12px; color:#262626; font-family:'Microsoft Yahei', Tahoma, Arial;background:#0F0921  url(../images/bg-sand-zi.png) repeat-x top; margin:0; padding:0}
